<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-9">
        <div class="jumbotron">
            <h1>fuck you nodejs</h1>
            <p>tesssst  EJS</p>
            <div class="row">
                <div class="column">
                  <img src="/img/10.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/12.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/13.jpg" alt="Snow" style="width:100%">

                    <img src="/img/14.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/15.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/16.jpg" alt="Snow" style="width:100%">



                    <img src="/img/17.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/18.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/19.jpg" alt="Snow" style="width:100%">
                    <img src="/img/110.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/111.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/112.jpg" alt="Snow" style="width:100%">
                    <img src="/img/113.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/114.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="/img/115.jpg" alt="Snow" style="width:100%">

                </div>
              </div>
                              
        </div>
    </div>


</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>